/*
 * Base structure, general
 */
 *, *:before, *:after {
    box-sizing: border-box !important;
}
/* Move down content because we have a fixed navbar that is 50px tall */
 body {
    padding-top: 50px;
    font-family:@sourcesans;
}
/*colores*/
 a {
    color:black;
}
a:hover {
    color:@morado;
}

/*
 * Main content
 */
 .main {
    padding: 20px;
    background: #F8F9FA;
}
@media (min-width: 768px) {
    .main {
        padding-right: 90px;
        padding-left: 90px;
    }
}
.main .page-header {
    margin-top: 0;
}